nav {
  background-color: #048b9a !important;

  a {
    text-decoration: none;
    color: aliceblue;
  }

  a:hover {
    color: #ca1f1f;
  }

  .nav-item {
    a {
      color: aliceblue;
    }

    a:hover {
      color: #ca1f1f;
    }
  }
}