<div class="container">
    <div class="row gy-3">
        <div class="col-12">
            <h1>{{ h1 }}</h1>
        </div>
        <div class="col-12">
            {{ form_start(form) }}
            {% include 'partials/form_crud/album.html.twig' %}
            {{ form_end(form) }}
        </div>
    </div>
</div>