<div class="container">
    <div class="row gy-3">
        <div class="col-12">
            <h1>{{ h1 }}</h1>
        </div>
        <div class="col-12">
            {{ form_start(form) }}
            {% include 'partials/form_crud/' ~ entity ~ '.html.twig' %}
            <button type="submit" class="btn btn-primary">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>