<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        {% dump(app.request.get('_route')) %}
        <a href="{{ path('front_home_index') }}"
           class="navbar-brand {% if app.request.get('_route') == 'front_home_index' %}active{% endif %}"><i
                    class="fas fa-home me-2"></i>Home</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('front_album_index') }}"
                       class="nav-link {% if app.request.get('_route') == 'front_album_index' %}active{% endif %}"
                       aria-current="page"><i
                                class="fas fa-compact-disc me-2"></i>Let's music !</a>
                </li>
            </ul>
        </div>
    </div>
</nav>