{% extends 'Front/front_base.html.twig' %}

{% block title %}Hello AlbumController!{% endblock %}

{% block body %}
    <div class="container my-5">

        {% form_theme form 'bootstrap_5_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_end(form) }}
        <a href="{{ path('front_home_index') }}" class="my-2 btn btn-outline-info text-decoration-none">Revenir à tous
            les albums</a>

        {% include 'partials/front/_album_card.html.twig' %}

        <div class="pagination">
            {{ knp_pagination_render(albums) }}
        </div>
    </div>
{% endblock %}
