{% extends 'Admin/admin_base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}
    <div class="container tableau">
        <div class="row gy-3">
            <div class="col-12">
                <h1>Les Genres</h1>
            </div>
            <div class="col-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for genre in paginationGenres %}
                        <tr>
                            <td>{{ genre.name }}</td>
                            <td>
                                <a href="{{ path('genre_show', {'id': 'x'}) }}" class="btn btn-primary">Détails</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 justify-content-center d-flex">
                <div class="pagination">
                    {{ knp_pagination_render(paginationGenres) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
