{% extends 'base.html.twig' %}

{% block header_body_position %}
<div class="d-flex flex-row position-relative">
    {% block header %}
        {% include 'partials/_header_admin.html.twig' %}
    {% endblock %}
    {% block body %}
    {% endblock %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}