{% extends 'base.html.twig' %}

{% block header_body_position %}
<div class="d-flex flex-row position-relative">
    <div class="block-header">
        {% block header %}
            {% include 'partials/_header_admin.html.twig' %}
        {% endblock %}
    </div>
    <div class="block-body">
        {% block body %}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}