{% for album in albums %}
    <div class="myCard">
        <img src="{{ entity.bigCover }}" class="card-img" alt="{{ entity.title }}">
    </div>
    <div class="albumText">
        <div class="albumTitle">
            {{ entity.title }}
        </div>
        <div class="albumArtist">
            {{ entity.artist.name }}
        </div>
    </div>
{% endfor %}    

