<div class="row">
    {% for album in albums %}
        <div class="albumCards mb-5 position-relative">
            {% include 'partials/front/_album_card.html.twig' with {'entity': album} %}
        </div>
    {% endfor %}
</div>