<div class="row border-dark border-3 border-bottom pb-3">
    <div class="col-8 offset-2">
{#        {% include 'partials/front/_album_card.html.twig' with {'entity': orderLine.album} %}#}
        {% include 'partials/front/_album_card_order.html.twig' %}
    </div>
</div>