{% extends 'Front/front_base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if app.user.nickName %}
                    <h1 class="my-3">Panier de {{ app.user.nickName }}</h1>
                {% else %}
                    <h1 class="my-3">Panier de {{ app.user.email }}</h1>
                {% endif %}
            </div>
            <div class="col-12">
                <div class="row gy-2">
                    {% if order %}
                        {% include 'partials/front/cart.html.twig' with {'orderLines': order.orderLines, 'btnValide': true} %}
                    {% else %}
                        <div class="">
                            Votre panier est vide
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
