{% extends 'Front/front_base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<div class="container">
    <table>
        <thead>
        <tr>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
